body {
    font-family: roboto;
    margin: 0;
}

.header-section {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px;
    height: 500px;
}

.text-header {
    padding-right: 40px;
}

.left-header, .right-header{
    display: flex;
    flex-direction: column;
}

.text-header, img {
    margin-top: auto;
    margin-bottom: auto;
}

.header-section div {
    max-width: 500px;
}

.left-header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.text-header div {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-header p {
    font-size: 18px;
    color: #e5e7eb;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    height: 450px;
    width: 800px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information-container {
    display: flex;
    gap: 40px;
}

.information-minicontainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    color: #1f2937;
    gap: 20px;
}

.imagen {
    border: 4px solid #3882f6;  
    height: 150px;
    border-radius: 8px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #e5e7eb;
}

.quote-section div {
    display: flex;
    flex-direction: column;
    width: 750px;
}

.quote-section p {
    margin: 0;
    width: 750px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-section span {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 50px;
}

.container-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.alerta {
    display: flex;
    align-items: center;
    padding: 50px 130px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
}

.texto-alerta {
    padding-right: 60px;
}

.texto-alerta div {
    font-size: 24px;
    font-weight: bold;
}

.texto-alerta span {
    font-size: 16px;
    color: #e5e7eb;
}

.alerta button {
    border: 3px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 100px;
}

ul {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0px;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

button {
    border: 0;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
}
